* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    vertical-align: middle;
}

a {
    color: #fafafa;
}

main {
    position: relative;
    top: 140px;
}

.degrade {
    height: 80px;
    background-image: linear-gradient(180deg, #24243E 0%, #302B63 100%);
}

.header {
    width: 100vw;
    position: fixed;
    z-index: 10;
}

.header-alt {
    width: 100vw;
    position: fixed;
    top: 0px;
}

.preheader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    border-bottom: 6px solid #eaeaea;
    background: white;
}

.banner-alarma {
    display: flex;
    z-index: 9;
    visibility: hidden;
    background: #fafafa;
    height: 200px;
    width: 100vw;
}

.bannerDinamico {
    width: 100vw;
    display: flex;
    z-index: 9;
    height: 200px;
}

.banner-audio {
    display: flex;
    z-index: 10;
    visibility: hidden;
    background: white;
    height: 200px;
    width: 100vw;
}

.banner-alarma>div>* {
    visibility: inherit
}

.logoP {
    width: 250px;
}

.navBar {
    height: 50px;
    background: linear-gradient(180deg, #24243E 0%, #302B63 100%);
    ;
}

.navItems {
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.navItem {
    cursor: pointer;
    ;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.contMainBanner {
    width: 100%;
    height: calc(100vh - 140px);
    object-fit: cover;

}

.contMainFeature {
    height: calc(100vh - 140px);
    display: flex;
    background-image: url('../img/bg_rastreamento.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

}

.contSecondFeature {
    box-sizing: border-box;
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg-som.jpg);
    background-position: center center;
}


.contInfoSecondFeature {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-Img-2nd {
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
}

.contenedor-Texto-2nd {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding: 40px;
}

.contenedor-Texto-2nd h2,
h3,
p,
button {
    margin: 10px 1px;
}

.contenedor-Texto-2nd h2 {
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    color: #00B3C0;
}

.contenedor-Texto-2nd h3 {
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    color: #707070
}

.contenedor-Texto-2nd p {
    color: #707070
}

.contThirdFeature {
    height: calc(100vh - 140px);
    display: flex;
}

.contFourthFeature {
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 800;
    color: #fcd33d;
    text-shadow: 2px 2px 4px #111111;
    background-image: url('../img/6031_bg-alm-home.webp');
    background-size: cover;
    background-position: center center;
    transition: 600ms ease-in-out;
}

.contFourthFeature:hover {
    background-image: url('../img/6031_bg-alm-home-hover.webp');
    color: #fafafa;
}

.contAskAQuestion {
    padding-bottom: 20px;
    height: calc(50vh - 140px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 50px;
    font-weight: 800;
    background: #F1F1F1;
}



.contAlarmas {
    width: 50vw;
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/6031_4-bg_secao-alarmes-1.jpg');
    background-size: cover;
    background-position: center center;
    transition: 300ms;
}

.contAlarmas:hover {
    background-image: url(../img/6031_4-bg_secao-alarmes_hover.jpg);

}

.cont-alarmas {
    display: flex;
    justify-content: right;
    align-items: center;

}

.cont-alarmas-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh - 200px);
    width: 50%;
    padding: 30px;
    color: white
}

.cont-alarmas-texto h3 {

    font-size: 30px;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;

}

#b {
    visibility: hidden;
    transition: 100ms;
}

.contAccesorios {
    width: 50vw;
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/6031_4-bg_acessorios-2.jpg');
    background-size: cover;
    background-position: center center;
    transition: 300ms;
}

.contAccesorios:hover {
    background-image: url('../img/6031_4-bg_acessorios-2_hover.jpg');
}

.cont-icons {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

#a:hover #b {
    visibility: visible;
}

.itemList1 {
    border-left: 1 px solid grey;
}

.itemList1 ul {
    border-left: 1 px solid grey;
    width: 50vw;
    /* visibility: hidden !important; */
    background: #fafafa;

}

.itemList1 a {
    color: #111111;
}

.itemList1 a:hover {
    font-weight: 800;
    color: rgb(0, 66, 137);
}

.lista {
    width: 50vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.motolist ul {
    cursor: pointer;
    visibility: hidden !important;
    width: 50%;
    background: #fafafa;
}


.banAlmLeft {
    width: 20%;
    background-image: url('/img/bg_menu-alarmas.png');
    background-position: center center;
    background-size: cover;
}

.banAudioLeft {
    width: 20%;
    background-image: url('/img/bg_audio-vehicular.png');
    background-position: center center;
    background-size: cover;
}

.banAccLeft {
    width: 20%;
    background-image: url('/img/bg_menu-acessorios.png');
    background-position: center center;
    background-size: cover;
}

.banResLeft {
    width: 20%;
    background-image: url('/img/bg_menu-residencial.png');
    background-position: center center;
    background-size: cover;
}

.banAlmLeft h2,
.banAudioLeft h2,
.banAccLeft h2,
.banResLeft h2 {
    margin-left: 20%;
    margin-top: 10%;
    color: #fafafa;
    text-transform: uppercase;
    font-style: italic;
    text-decoration: underline;
}

.banAlmRight {
    height: 200px;
    width: 30%;
    background: #fafafa;

}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px !important;
    text-align: center;
    margin: 0px 5px;
}

.centered span {
    width: auto;
    font-size: 10px;
}

.listProducts {
    margin-left: 30px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 14px;
    font-style: italic;
    text-transform: uppercase;
}

.listItems ul {
    visibility: hidden;
}

.listProducts li:hover {
    transition: 300ms;
    cursor: pointer;
    margin-left: 5px;
    color: #111111;
    font-weight: 800;
}



.chevron-down {
    cursor: pointer;
    width: 22px;
    filter: invert(76%) sepia(24%) saturate(7428%) hue-rotate(359deg) brightness(103%) contrast(104%);
}

.chevron-down:hover {
    filter: invert(100%) sepia(54%) saturate(0%) hue-rotate(289deg) brightness(105%) contrast(100%);
}

.contenedor-lista {
    display: flex;
    flex-direction: column;
}

.image-mask-banner {
    /* position: relative; */
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 60vw;
    clip-path: polygon(0 0%, 100% 0%, 75% 100%, 0% 100%);
    background: transparent;
    background-image: url(../img/img_rastreamento-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit:cover; */
}

.imgAudio {
    z-index: 5;
    max-height: 491px;
    max-width: 491px;
    width: 40vw;
    ;
}

.imgAlarmas {
    visibility: hidden;
    height: calc(100vh - 300px);

}

.iconNews {
    width: 100%;
}

.forma {
    /* width: 50vw; */
    height: calc(100vh - 140px);
}

.formulario {
    width: 50vw;
    display: flex;
    flex-direction: column;

}

.formOne {
    display: flex;
    justify-content: space-between;
}

.formTwo {
    display: flex;
    justify-content: space-between;
}

.footer {
    position: relative;
    top: 140px;
    height: 160px;
    background: linear-gradient(0deg, #24243E 0%, #302B63 100%);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: white;

}

.footerColumn {
    margin-top: 20px;
    font-size: 12px;

}

.footerColumn p {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}

.footerColumn li {
    margin: 5px 0px;

}

input {
    margin: 5px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px 12px;
}

.input-one:focus,
.input-two:focus {
    outline: 1px solid #fcd33d;
}

.input-one {
    border: 0px solid grey;
    width: 30%;
}

.input-two {
    border: 0px solid grey;
    width: 70%;
}

textarea {
    margin: 5px;
    border-radius: 5px;
    border: 0px solid grey;
    padding: 5px;
    size: fixed;
}

.homeButton {
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    height: 60px;
    width: 120px;
    border: 2px white solid;
    border-radius: 5px;
    margin-bottom: 30vh;
    background: transparent;
    transition: 500ms;
}

.fa-whatsapp {
    font-size: 20px;
    margin-left: 15px;

    color: #25d366;
}
.fa-map-marker{
    font-size: 22px;
    margin: 0px 15px;
    color: red;
}
.fa-phone{
    font-size: 20px;
    margin-right: 15px;
}
.fa-envelope-o{
    font-size: 20px;
    margin-right: 15px;
}

.FAQ {
    margin-top: 15px;
}

.formButton {
    cursor: pointer;
    margin: 5px;
    width: 25%;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    color: #fafafa;
    font-weight: 800;
    text-transform: uppercase;
    border: 0px solid grey;
    background-color: #fcd33d;
    transition: 500ms;
}

.formButton:hover {
    background-color: #24243E;
}

.azul {
    color: #0079A6;
    border: 2px #0079A6 solid;
}

.azul:hover {
    background: #0079A6 !important;
    color: white !important;
    border: 2px #0079A6 solid !important;
}


.homeButton:hover {
    color: #111111;
    font-style: italic;
    border: 2px greenyellow solid;
    background: greenyellow;
}

.comAsist {
    width: 50vw;
    margin-top: 30px;
    background-color: transparent !important;
    color: #302B63;
    font-style: italic;
    border-bottom: 0px solid gray !important;
}
.comAsist p{
    font-size: 12px;
    font-weight: 400;
}
#comTitle{
    background-color: transparent !important;
}

.instaladores {
    position: fixed;
    right: 25px;
    display: flex;
    justify-content: flex-end;
}

.img-distributor {
    box-sizing: border-box;
    width: 100%;
    height: calc(70vh - 170px);
    background-image: url('../img/banner_distribuidores.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fafafa;
}
.img-comercio{
    box-sizing: border-box;
    width: 100%;
    height: calc(70vh - 170px);
    background-image: url('../img/banner_instaladores.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fafafa;
}

.img-distributor h2, .img-comercio h2 {
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
    margin-left: 15%;
}

.img-distributor h3, .img-comercio h3 {
    font-weight: 400;
    font-size: 24px;
    margin-left: 16%;
}

.light-blue-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    border-radius: 8px;
    color: #fafafa;
    background: linear-gradient(180deg, #00B3C0 0%, #005E9A 100%);
    transition: 150ms ease-in-out;
}

.light-green-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    border-radius: 8px;
    color: #fafafa;
    background: linear-gradient(180deg, #38ef7d 0%, #11998e 100%);
    transition: 150ms ease-in-out;
}

.light-blue-btn:hover {
    color: #d9fe90;
}

.light-blue-btn:active {
    color: #fafafa;
    background: linear-gradient(180deg, #005E9A 0%, #00B3C0 100%);
}

.light-green-btn:active {
    color: #fafafa;
    background: linear-gradient(180deg, #11998e 0%, #38ef7d 100%);
}

.light-blue-btn span {
    margin: 0px 5px;
}

.light-green-btn span {
    margin: 0px 5px;
}

.listHeader {
    padding: 35px 0px;
    height: calc(70vh - 140px);
    background-color: #dadada;
}

.listHeader h1 {
    color: #4F4F4F;
    font-size: 26px;
    font-weight: 400;
    /* margin: 25px; */
    text-align: center;
    margin-bottom: 40px;
}

.navBar-toggle {
    visibility: hidden;
    box-sizing: border-box;
    border: 1px solid #302B63;
    background-color: #302B63;
    cursor: pointer;
    padding: 9px;
    border-radius: 2px;
    color: #fafafa;
    transition: 250ms;
}

.navBar-toggle:hover {
    border-radius: 5px;
    background-color: #d4d0ff;
    color: #302B63;

}

.oculto {
    display: none;
}

.QS-redes {
    display: flex;
    align-items: center;
}

.quienesSomos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(50vh - 140px);
    background-color: #F1F1F1;
    background-image: url('../img/bg-quemsomos-home.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.quienesSomos-alt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(50vh - 140px);
    background-color: #F1F1F1;
    background-image: url('../img/bg-quemsomos-home.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.setIconos{
    font-size: 18px;
    margin: 0px 2px
}

.sm-icon {
    width: 30px;
    margin: 0px 3px;
}

.sm-icon:hover {
    transition: 300ms;
    width: 35px;
    color: #453e90;
    filter: invert(23%) sepia(40%) saturate(2027%) hue-rotate(220deg) brightness(92%) contrast(90%);
}

.distTabla {
    box-sizing: border-box;
    padding: 15px;
    width: 75vw;
    margin: 25px auto;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
}

.distTabla p {
    font-size: 16px;
}

.distTabla a {
    color: #111111;
}

.distTabla a:hover {
    color: blue;
}

.distTabla h4 {
    font-size: 18px;
}

table.distTable, table.comTable{
    margin: 25px 5vw;
    border-collapse: collapse;
}

table.distTable th, table.comTable th {
    background-color: #d7dfe4;
}
table.comTable th, td{
    font-size: 14px;
    box-sizing: border-box;
    padding: 15px;
    text-align: start;
    width: 16vw;
}
table.distTable th,
td {
    font-size: 14px;
    box-sizing: border-box;
    padding: 15px;
    text-align: start;
    width: 28vw;
}

table.distTable a, table.comTable a{
    color: #111111;
}

table.distTable a:hover, table.comTable a:hover{
    color: blue;
}

table.distTable tr, table.comTable tr {
    height: 40px;
    /* border-bottom: 1px solid #f1f1f1; */
}

table.distTable tr:nth-child(even), table.comTable tr:nth-child(even) {
    background-color: #f1f1f1;
}

img.flag {
    height: 25px;
}

.flag {
    margin-right: 10px;
}

.contQS {
    width: 95vw;
    display: flex;
}

.QS-L {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    padding: 15px;
}

.QS-L h3 {
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
    color: #70707061;
    margin: 1px;
}

.QS-L h4 {
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    color: #302B63;
    text-transform: uppercase;
    margin: 1px;
}

.QS-R {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 15px;
}

.visible {
    visibility: visible;
}

@media (max-width: 800px) {
    .header {
        height: 90px;
    }

    .preheader {
        padding: 0px 20px;
        justify-content: space-between
    }

    .navBar-toggle {
        visibility: visible;
        margin-right: 20px;
    }

    .navBar {
        visibility: hidden;
    }

    .contMainBanner {
        top: 90px
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .navItem {
        font-size: 9px;
    }
    .imgAudio{
        width: 45vw;
    }
    form.formulario{
        width: auto;
    }
    .input-one, .input-two, .formButton{
        width: 90vw;
    }
    .contAlarmas, .contAccesorios{
        width: 100vw;
    }
    .QS-L{
        width: auto;
        align-items: center;
    }
    .QS-R{
        text-align: justify;
    }
    .contAskAQuestion {
        height: auto;       
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .formOne,.formTwo{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .imgAudio {
        margin: auto;
        /* z-index: 5; */
        max-height: 491px;
        max-width: 491px;
        width: 70vw;
        ;
    }
    .contAlarmas, .contAccesorios{
        width: 100vw;
    }
    .contSecondFeature{
        height: 45vh;
        align-items: flex-start;
        background-position-x: 35%;
    }
    .contMainFeature{
        flex-direction: column;
        height: auto;        
    }
    .contInfoSecondFeature{
        flex-direction: column;
        height:20vh;
        box-sizing: border-box;    
    }
    .contThirdFeature{
        flex-direction: column;
        height: auto;
    }
    .contenedor-Img-2nd{
        text-align: center;
        width: 100%;
        padding: 10px;
    }
    .contenedor-Texto-2nd{
        z-index: 3;
        width: 100%;
        padding: 15px;
    }
    .contenedor-Texto-2nd h2 {
        font-size: 25px;
    }
    
    .contenedor-Texto-2nd h3 {
        font-size: 14px;
    }
    
    .contenedor-Texto-2nd p {
        font-size: 11px;
    }
    .formOne,.formTwo{
        flex-direction: column;
        align-items: center;
    }
    form.formulario{
        width: auto;
    }

    .homeButton{
        margin-bottom: 10px;
        width: 80px;
        height: 40px;
        font-size: 12px;
    }
    .instaladores{
        display: none;
    }
    .input-one, .input-two, .formButton{
        width: 90vw;
    }
    .distTabla {
        text-align: center;
    }

    .distTabla p {
        font-size: 14px;
    }

    .distTabla h4 {
        font-size: 16px;
    }

    .comAsist {
        text-align: center;
        margin: 30px auto;
    }
    .comAsist h2{
        text-align: center;
    }

    .contQS {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .contAskAQuestion {
        height: auto;      
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .footer{
        display: none;
    }
    .iconNews {
        margin: 15px auto;
        width: 60%;
    }
    .imageContainer{
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }
    .image-mask-banner{
        width: 100vw;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 75%);
    }

    .quienesSomos {
        display: block;
        height: auto;
    }
    .QS-L{
        width: auto;
        align-items: center;
    }
    .QS-R{
        text-align: justify;
    }
    .QS-redes {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 500px) and (max-width: 800px) {
    .contAlarmas, .contAccesorios{
        width: 100vw;
    }
    .contSecondFeature{
        height: 45vh;
        align-items: flex-start;
        background-position-x: 35%;
    }
    .formOne,.formTwo{
        flex-direction: column;
        align-items: center;
    }
    form.formulario{
        width: auto;
    }
    
    .instaladores{
        display: none;
    }
    .input-one, .input-two, .formButton{
        width: 80vw;
    }
    .imgAudio {
        z-index: 5;
        max-height: 491px;
        max-width: 491px;
        width: 50vw;
        ;
    }
    .contMainFeature{
        flex-direction: column;
        height: auto;
    }
    .contInfoSecondFeature{
        flex-direction: column;
        height:20vh;
        box-sizing: border-box;     
    }
    .contenedor-Img-2nd{
        text-align: center;
        width: 100%;
        padding: 10px;
    }
    .contenedor-Texto-2nd{
        z-index: 3;
        width: 100%;
        padding: 5px;
    }
    .contAskAQuestion {
        height: auto;       
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .homeButton{
        margin-bottom: 10px
    }
    .image-mask-banner{
        width: 100vw;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 75%);
    }

    .comAsist {
        text-align: center;
        width: 80%;
        align-items: center;
        margin: 30px auto;
    }
   

    .contQS {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .footer{
        display: none;
    }
    .iconNews {
        margin: 15px auto;
        width: 60%;
    }
    .imageContainer{
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }

    .quienesSomos {
        display: block;
        height: auto;
    }
    .QS-L{
        width: auto;
        align-items: center;
    }
    .QS-R{
        text-align: justify;
    }
    .QS-redes {
        flex-direction: column;
    }
}