* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    vertical-align: middle;
}

a {
    color: #fafafa;
}

br {
    margin: 24px 0px;
}

main {
    position: relative;
    top: 140px;
}

img {
    pointer-events: none;
}

.blue {
    color: #005E9A;    
}

.orange {
    color: orange
}
.productList{
    box-sizing: border-box;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reverse{
    flex-direction: row-reverse;
}

.hidden{
    display: none;
}
.active{
    display: block;
}
.product-list-buttons{
    display: flex;
    justify-content: space-between;
}
.productListImage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45vw;
}
.productListImage img{
 height: 450px;
 width: auto;
}

.productListText{height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
}
.productListText h2{
    font-family: 'Fira', sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    color: #C42D32;
    border-bottom: 2px solid #FCB800;
}
.productListText p{
    color: #7A7A7A;
    font-family: 'Fira', sans-serif;
}

.purple {
    color: purple
}

.green {
    color: green
}

.turquoise {
    color: #11b5da
}

.degrade {
    height: 80px;
    background-image: linear-gradient(180deg, #24243E 0%, #302B63 100%);
}

.header {
    width: 100vw;
    position: fixed;
    z-index: 10;
}

.header-alt {
    width: 100vw;
    position: fixed;
    top: 0px;
}
.horario{
    font-size: 10px !important;
}

.preheader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    border-bottom: 6px solid #eaeaea;
    background: white;
}

.banner-alarma {
    display: flex;
    z-index: 9;
    visibility: hidden;
    background: #fafafa;
    height: 200px;
    width: 100vw;
    opacity: 95%;
}

.bannerDinamico {
    width: 100vw;
    display: flex;
    z-index: 9;
    height: 200px;
}

.banner-audio {
    display: flex;
    z-index: 10;
    visibility: hidden;
    background: white;
    height: 200px;
    width: 100vw;
}

.banner-alarma>div>* {
    visibility: inherit
}

.logoP {
    width: 250px;
}

.navBar {
    height: 50px;
    background: linear-gradient(180deg, #24243E 0%, #302B63 100%);
    ;
}

.navItems {
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.navItem {
    cursor: pointer;
    ;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.contMainBanner {
    width: 100%;
    height: calc(100vh - 140px);
    /* object-fit: cover; */

}

.contMainFeature {
    height: calc(100vh - 140px);
    display: flex;
    background-image: url('../img/bg_rastreamento.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

}

.contSecondFeature {
    box-sizing: border-box;
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg-som.jpg);
    background-position: center center;
}


.contInfoSecondFeature {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-Img-2nd {
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
}

.contenedor-Texto-2nd {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding: 40px;
}

.contenedor-Texto-2nd h2,
h3,
p,
button {
    margin: 10px 1px;
}

.contenedor-Texto-2nd h2 {
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    color: #00B3C0;
}

.contenedor-Texto-2nd h3 {
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    color: #707070
}

.contenedor-Texto-2nd p {
    color: #707070
}

.contThirdFeature {
    height: calc(100vh - 140px);
    display: flex;
}

.contFourthFeature {
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 800;
    color: #fcd33d;
    text-shadow: 2px 2px 4px #111111;
    background-image: url('../img/6031_bg-alm-home.webp');
    background-size: cover;
    background-position: center center;
    transition: 600ms ease-in-out;
}

.contFourthFeature:hover {
    background-image: url('../img/6031_bg-alm-home-hover.webp');
    color: #fafafa;
}

.contAskAQuestion {
    padding-bottom: 20px;
    height: calc(50vh - 140px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 50px;
    font-weight: 800;
    background: #F1F1F1;
}



.contAlarmas {
    width: 50vw;
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/6031_4-bg_secao-alarmes-1.jpg');
    background-size: cover;
    background-position: center center;
    transition: 300ms;
}

.contAlarmas:hover {
    background-image: url(../img/6031_4-bg_secao-alarmes_hover.jpg);

}

.cont-alarmas {
    display: flex;
    justify-content: right;
    align-items: center;

}

.cont-alarmas-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh - 200px);
    width: 50%;
    padding: 30px;
    color: white
}

.cont-alarmas-texto h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;

}

#b {
    visibility: hidden;
    transition: 100ms;
}

.contAccesorios {
    width: 50vw;
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/6031_4-bg_acessorios-2.jpg');
    background-size: cover;
    background-position: center center;
    transition: 300ms;
}

.contAccesorios:hover {
    background-image: url('../img/6031_4-bg_acessorios-2_hover.jpg');
}

.cont-icons {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

#a:hover #b {
    visibility: visible;
}

.iconCont {
    margin-top: 8px;
}

.imgSmallMenu {
    width: 100px;
}

.extra {
    width: 130px;
}
.extras-product{
    font-size: 12px;
    margin: 0;
    margin-bottom: 5px;
}

.prodMenuDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.masMenuDetail {
    height: 150px;
    width: 130px;
    background-color: #e8e8e8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #bcbcbc;
    transition: 300ms ease-in-out;
}

.fa-circle-plus {
    font-size: 50px;
    transition: 300ms ease-in-out;
}

.fa-circle-plus:hover {
    cursor: pointer;
    color: #009a76;
}
.FAQ_SAT{
    display: flex;
    align-items: center;
    color: #fafafa;
    transition: 250ms;
}


.masMenuDetail p {
    font-size: 12px;
    color: #111111;
}

.itemList1 {
    border-left: 1 px solid grey;
}

.itemList1 ul {
    border-left: 1 px solid grey;
    width: 60vw;
    /* visibility: hidden !important; */
    background: #fafafa;

}

.itemList1 a,
.motolist a,
.prodMenuDetail a {
    color: #111111;
}

.itemList1 a:hover,
.motolist a:hover,
.prodMenuDetail a:hover {
    font-weight: 800;
    color: rgb(0, 66, 137);
}

.lista {
    width: 50vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.motolist ul {
    cursor: pointer;
    visibility: hidden !important;
    width: 50%;
    background: #fafafa;
}


.banAlmLeft {
    width: 20%;
    background-image: url('/img/bg_menu-alarmas.png');
    background-position: center center;
    background-size: cover;
}

.banAudioLeft {
    width: 20%;
    background-image: url('/img/bg_audio-vehicular.png');
    background-position: center center;
    background-size: cover;
}

.banAccLeft {
    width: 20%;
    background-image: url('/img/bg_menu-acessorios.png');
    background-position: center center;
    background-size: cover;
}

.banResLeft {
    width: 20%;
    background-image: url('/img/bg_menu-residencial.png');
    background-position: center center;
    background-size: cover;
}

.banAlmLeft h2,
.banAudioLeft h2,
.banAccLeft h2,
.banResLeft h2 {
    margin-left: 20%;
    margin-top: 10%;
    color: #fafafa;
    text-transform: uppercase;
    font-style: italic;
    text-decoration: underline;
}

.banAlmRight {
    height: 200px;
    width: 20%;
    background: #fafafa;

}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px !important;
    text-align: center;
    margin: 0px 5px;
}

.centered span {
    width: auto;
    font-size: 10px;
}

.listProducts {
    margin-left: 30px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 14px;
    font-style: italic;
    text-transform: uppercase;
}

.listItems ul {
    visibility: hidden;
}

.listProducts li a {
    color: #111111;
    font-size: 14px;
    font-style: italic;
    text-transform: uppercase;
}

.listProducts li:hover {
    transition: 300ms;
    cursor: pointer;
    margin-left: 5px;
    color: #111111;
    font-weight: 800;
}



.chevron-down {
    cursor: pointer;
    width: 22px;
    filter: invert(76%) sepia(24%) saturate(7428%) hue-rotate(359deg) brightness(103%) contrast(104%);
}

.chevron-down:hover {
    filter: invert(100%) sepia(54%) saturate(0%) hue-rotate(289deg) brightness(105%) contrast(100%);
}

.fa-chevron-right {
    margin-left: 10px;
}

.contenedor-lista {
    display: flex;
    flex-direction: column;
}

.image-mask-banner {
    /* position: relative; */
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 60vw;
    clip-path: polygon(0 0%, 100% 0%, 75% 100%, 0% 100%);
    background: transparent;
    background-image: url(../img/img_rastreamento-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit:cover; */
}

.imgAudio {
    z-index: 5;
    max-height: 491px;
    max-width: 491px;
    width: 40vw;
    ;
}

.imgAlarmas {
    visibility: hidden;
    height: calc(100vh - 300px);

}

.iconNews {
    width: 100%;
}

.forma {
    /* width: 50vw; */
    height: calc(100vh - 140px);
}

.formulario {
    width: 50vw;
    display: flex;
    flex-direction: column;

}

.formOne {
    display: flex;
    justify-content: space-between;
}

.formTwo {
    display: flex;
    justify-content: space-between;
}

.footer {
    position: relative;
    top: 140px;
    height: 160px;
    background: linear-gradient(0deg, #24243E 0%, #302B63 100%);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: white;

}

.footerColumn {
    margin-top: 20px;
    font-size: 12px;

}

.footerColumn p {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}

.footerColumn li {
    margin: 5px 0px;

}

input {
    margin: 5px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px 12px;
}

.input-one:focus,
.input-two:focus {
    outline: 1px solid #fcd33d;
}

.input-one {
    border: 0px solid grey;
    width: 30%;
}

.input-two {
    border: 0px solid grey;
    width: 70%;
}

textarea {
    margin: 5px;
    border-radius: 5px;
    border: 0px solid grey;
    padding: 5px;
    size: fixed;
}

.homeButton {
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    height: 60px;
    width: 120px;
    border: 2px white solid;
    border-radius: 5px;
    margin-bottom: 30vh;
    background: transparent;
    transition: 500ms;
}

.fa-whatsapp {
    font-size: 20px;
    margin-left: 15px;

    color: #25d366;
}

.fa-map-marker {
    font-size: 20px;
    margin: 0px 15px;
    color: #ff0066;
}

.fa-phone {
    font-size: 20px;
    margin-right: 15px;
}

.fa-envelope-o {
    font-size: 20px;
    margin-right: 15px;
}

.FAQ {
    margin-top: 15px;
}
.productButton{
    height: 50px;
    cursor: pointer;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #fafafa;
    font-size: 16px;
    font-weight: 400;
    border: 0px solid gray;
}
.productButton.blue{
    background-color: #6C93A3;
}
.productButton.green{
    background-color: #71C681;
}
.productButton.purple{
    background-color: #A55C93;
}
.products-grey{
    font-size: 12px !important;
    height: 40px !important;
    width: 48%;
    color: #111111;
    font-weight: 400;
}
.productButton.red-fade:hover{
    color: #fafafa;
    background: transparent linear-gradient(180deg,#f6444a 0%, #920004 100%);
}
.productButton.green-fade{
    color: #fafafa;
    background: transparent linear-gradient(0deg, #0A8F1B 0%, #00C31A 100%)
}

.formButton {
    cursor: pointer;
    margin: 5px;
    width: 25%;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    color: #fafafa;
    font-weight: 800;
    text-transform: uppercase;
    border: 0px solid grey;
    background-color: #fcd33d;
    transition: 500ms;
}

.formButton:hover {
    background-color: #24243E;
}
.alarmSection{
    box-sizing: border-box;
    text-align: center;
    background-image: url('../img/bg_header_alarmas_vehiculares.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alarmSection h3, .alarmTitle h3{
    margin-top: 50px;
    font-size: 25px;
    color: #707070;
    font-weight: 400;
}
.alarmSection h1{
    font-size: 70px;
    color: #C42D32;
    font-weight: 800;
    font-style: italic;
}
.alarmTitle h2{
    font-size: 50px;
    color: #302B63;
    font-weight: 800;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 50px;
}
.alarmTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.azul {
    color: #0079A6;
    border: 2px #0079A6 solid;
}

.azul:hover {
    background: #0079A6 !important;
    color: white !important;
    border: 2px #0079A6 solid !important;
}


.homeButton:hover {
    color: #111111;
    font-style: italic;
    border: 2px greenyellow solid;
    background: greenyellow;
}

.comAsist {
    width: 50vw;
    margin-top: 30px;
    background-color: transparent !important;
    color: #302B63;
    font-style: italic;
    border-bottom: 0px solid gray !important;
}

.comAsist p {
    font-size: 12px;
    font-weight: 400;
}

#comTitle {
    background-color: transparent !important;
}

.contMainProducts {
    display: flex;
}

.contImageProduct {
    background-color: #fafafa;
    width: 55vw;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productImage{
    height: 400px;
}
.iconsProduct{
    height: 300px;
    background-color: #F1F1F1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.iconProductSingle{
    height: 150px;
}
sup{
    vertical-align: super !important;
}
.slide-Container{
    height: 200px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide img {
    box-sizing: border-box;
    overflow: hidden;
    height: 80%;
}
.slide {
    box-sizing: border-box;
    overflow: hidden;
    height: 200px;
    text-align: center;
    /* animation-duration: 1000ms; */
}

.specsContainer{
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.specs{
    width: 70%;
}
.specs h2, h3{
    text-transform: uppercase;
    color: #4F4F4F;
}
.specs h3{
    padding: 10px 0px;
    border-bottom: 2px solid #818181;
}
.specs h2{
    font-size: 30px;
}
.specs h3{
    font-size: 22px;
}
.specs li{
    font-size: 18px;
    text-align: justify;
    margin-left: 15px;
    list-style: disc;
    margin-bottom: 5px;
}
.supportContainer{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.fa-headset, .fa-comments{
    margin: 0px 15px;
}

.SAT{
    width: 48%;
    height: 200px;
    margin: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;
    background: linear-gradient(165deg, #12c2e9, #c471ed, #f64f59);
    transition: 350ms;
    
}
.SAT:hover{
    width: 49%;
    height: 202px;
    box-shadow: 3px 3px 6px #aeaeae;
    background: linear-gradient(35deg, #12c2e9, #c471ed, #f64f59);
}

.SAT p{
    font-size: 22px;
    margin: 0;
    margin-bottom: 2px;
    font-family: 'Fira', sans-serif;

}
.SAT i{
    color: #fafafa;
}
.SAT span{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SAT h4{
    margin: 0;
    margin-bottom: 2px;
    font-size: 26px;
    font-family: 'Fira', sans-serif;
}
.svgIconProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contDescriptionProduct {
    width: 45vw;
    height: 500px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contDescriptionProduct h1, h6{
    font-family: 'Fira Sans', sans-serif;
    color: #4F4F4F;
    text-transform: uppercase;
    font-size: 26px;
}
.contDescriptionProduct h6{
    font-size: 12px;
    font-weight: 400;
}

.contTextDescription p{
    color: #4F4F4F;
    font-size: 14px;
}

.contTextDescription {
    box-sizing: border-box;
    padding: 20px;
    width: 75%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 8px;
    background: #fafafa;
    box-shadow: 5px 5px 9px #d5d5d5,
        -5px -5px 9px #f1f1f1;
}


.instaladores {
    position: fixed;
    right: 25px;
    display: flex;
    justify-content: flex-end;
}

.img-distributor {
    box-sizing: border-box;
    width: 100%;
    height: calc(70vh - 170px);
    background-image: url('../img/banner_distribuidores.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fafafa;
}

.img-comercio {
    box-sizing: border-box;
    width: 100%;
    height: calc(70vh - 170px);
    background-image: url('../img/banner_instaladores.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fafafa;
}

.img-distributor h2,
.img-comercio h2 {
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
    margin-left: 15%;
}

.img-distributor h3,
.img-comercio h3 {
    font-weight: 400;
    font-size: 24px;
    margin-left: 16%;
}

.light-blue-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    border-radius: 8px;
    color: #fafafa;
    background: linear-gradient(180deg, #00B3C0 0%, #005E9A 100%);
    transition: 150ms ease-in-out;
}

.light-green-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    border-radius: 8px;
    color: #fafafa;
    background: linear-gradient(180deg, #38ef7d 0%, #11998e 100%);
    transition: 150ms ease-in-out;
}

.light-blue-btn:hover {
    color: #d9fe90;
}

.light-blue-btn:active {
    color: #fafafa;
    background: linear-gradient(180deg, #005E9A 0%, #00B3C0 100%);
}

.light-green-btn:active {
    color: #fafafa;
    background: linear-gradient(180deg, #11998e 0%, #38ef7d 100%);
}

.light-blue-btn span {
    margin: 0px 5px;
}

.light-green-btn span {
    margin: 0px 5px;
}

.listHeader {
    padding: 35px 0px;
    height: calc(70vh - 140px);
    background-color: #dadada;
}

.almVehicular {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.almVehicular h2 {
    color: #4F4F4F;
    font-size: 26px;
    font-weight: 400;
    /* margin: 25px; */
    text-align: center;
    margin-bottom: 0px;
}

.listHeader h1 {
    color: #4F4F4F;
    font-size: 26px;
    font-weight: 400;
    /* margin: 25px; */
    text-align: center;
    margin-bottom: 40px;
}

.navBar-toggle {
    visibility: hidden;
    box-sizing: border-box;
    border: 1px solid #302B63;
    background-color: #302B63;
    cursor: pointer;
    padding: 9px;
    border-radius: 2px;
    color: #fafafa;
    transition: 250ms;
}

.navBar-toggle:hover {
    border-radius: 5px;
    background-color: #d4d0ff;
    color: #302B63;

}

.oculto {
    display: none;
}

.QS-redes {
    display: flex;
    align-items: center;
}

.quienesSomos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(50vh - 140px);
    background-color: #F1F1F1;
    background-image: url('../img/bg-quemsomos-home.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.quienesSomos-alt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(50vh - 140px);
    background-color: #F1F1F1;
    background-image: url('../img/bg-quemsomos-home.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.setIconos {
    font-size: 15px;
    margin: 0px 5px 0px 0px;
    vertical-align: baseline;
}

.setIconosSvg {
    height: 22px;
    margin: 0px 3px;
    vertical-align: text-bottom;
}

.sm-icon {
    width: 30px;
    margin: 0px 3px;
}

.sm-icon:hover {
    transition: 300ms;
    width: 35px;
    color: #453e90;
    filter: invert(23%) sepia(40%) saturate(2027%) hue-rotate(220deg) brightness(92%) contrast(90%);
}

.distTabla {
    box-sizing: border-box;
    padding: 15px;
    width: 75vw;
    margin: 25px auto;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
}

.distTabla p {
    font-size: 16px;
}

.distTabla a {
    color: #111111;
}

.distTabla a:hover {
    color: blue;
}

.distTabla h4 {
    font-size: 18px;
}

table.distTable,
table.comTable {
    margin: 25px 5vw;
    border-collapse: collapse;
}

table.distTable th,
table.comTable th {
    background-color: #d7dfe4;
}

table.comTable th,
td {
    font-size: 14px;
    box-sizing: border-box;
    padding: 15px;
    text-align: start;
    width: 16vw;
}

table.distTable th,
td {
    font-size: 14px;
    box-sizing: border-box;
    padding: 15px;
    text-align: start;
    width: 28vw;
}

table.distTable a,
table.comTable a {
    color: #111111;
}

table.distTable a:hover,
table.comTable a:hover {
    color: blue;
}

table.distTable tr,
table.comTable tr {
    height: 40px;
    /* border-bottom: 1px solid #f1f1f1; */
}

table.distTable tr:nth-child(even),
table.comTable tr:nth-child(even) {
    background-color: #f1f1f1;
}

img.flag {
    height: 25px;
}

.flag {
    margin-right: 10px;
}

.contQS {
    width: 95vw;
    display: flex;
}

.QS-L {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    padding: 15px;
}

.QS-L h3 {
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
    color: #70707061;
    margin: 1px;
}

.QS-L h4 {
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    color: #302B63;
    text-transform: uppercase;
    margin: 1px;
}

.QS-R {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 15px;
}

.visible {
    visibility: visible;
}
.fade {
    animation-name: fade;
    animation-duration: 2000ms;
  }

@keyframes fade {
    from {opacity: .25} 
    to {opacity: 1}
  }

@media (max-width: 800px) {
    .header {
        height: 90px;
    }

    .preheader {
        padding: 0px 20px;
        justify-content: space-between
    }

    .navBar-toggle {
        visibility: visible;
        margin-right: 20px;
    }

    .navBar {
        visibility: hidden;
    }

    .contMainBanner {
        top: 90px
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .navItem {
        font-size: 9px;
    }

    .imgAudio {
        width: 45vw;
    }

    form.formulario {
        width: auto;
    }

    .input-one,
    .input-two,
    .formButton {
        width: 90vw;
    }

    .contAlarmas,
    .contAccesorios {
        width: 100vw;
    }

    .QS-L {
        width: auto;
        align-items: center;
    }

    .QS-R {
        text-align: justify;
    }

    .contAskAQuestion {
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .formOne,
    .formTwo {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .imgAudio {
        margin: auto;
        /* z-index: 5; */
        max-height: 491px;
        max-width: 491px;
        width: 70vw;
        ;
    }

    .contAlarmas,
    .contAccesorios {
        width: 100vw;
    }

    .contSecondFeature {
        height: 45vh;
        align-items: flex-start;
        background-position-x: 35%;
    }

    .contMainFeature {
        flex-direction: column;
        height: auto;
    }

    .contInfoSecondFeature {
        flex-direction: column;
        height: 20vh;
        box-sizing: border-box;
    }

    .contThirdFeature {
        flex-direction: column;
        height: auto;
    }

    .contenedor-Img-2nd {
        text-align: center;
        width: 100%;
        padding: 10px;
    }

    .contenedor-Texto-2nd {
        z-index: 3;
        width: 100%;
        padding: 15px;
    }

    .contenedor-Texto-2nd h2 {
        font-size: 25px;
    }

    .contenedor-Texto-2nd h3 {
        font-size: 14px;
    }

    .contenedor-Texto-2nd p {
        font-size: 11px;
    }

    .formOne,
    .formTwo {
        flex-direction: column;
        align-items: center;
    }

    form.formulario {
        width: auto;
    }

    .homeButton {
        margin-bottom: 10px;
        width: 80px;
        height: 40px;
        font-size: 12px;
    }

    .instaladores {
        display: none;
    }

    .input-one,
    .input-two,
    .formButton {
        width: 90vw;
    }

    .distTabla {
        text-align: center;
    }

    .distTabla p {
        font-size: 14px;
    }

    .distTabla h4 {
        font-size: 16px;
    }

    .comAsist {
        text-align: center;
        margin: 30px auto;
    }

    .comAsist h2 {
        text-align: center;
    }

    .contQS {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .contAskAQuestion {
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer {
        display: none;
    }

    .iconNews {
        margin: 15px auto;
        width: 60%;
    }

    .imageContainer {
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }

    .image-mask-banner {
        width: 100vw;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 75%);
    }

    .quienesSomos {
        display: block;
        height: auto;
    }

    .QS-L {
        width: auto;
        align-items: center;
    }

    .QS-R {
        text-align: justify;
    }

    .QS-redes {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 500px) and (max-width: 800px) {

    .contAlarmas,
    .contAccesorios {
        width: 100vw;
    }

    .contSecondFeature {
        height: 45vh;
        align-items: flex-start;
        background-position-x: 35%;
    }

    .formOne,
    .formTwo {
        flex-direction: column;
        align-items: center;
    }

    form.formulario {
        width: auto;
    }

    .instaladores {
        display: none;
    }

    .input-one,
    .input-two,
    .formButton {
        width: 80vw;
    }

    .imgAudio {
        z-index: 5;
        max-height: 491px;
        max-width: 491px;
        width: 50vw;
        ;
    }

    .contMainFeature {
        flex-direction: column;
        height: auto;
    }

    .contInfoSecondFeature {
        flex-direction: column;
        height: 20vh;
        box-sizing: border-box;
    }

    .contenedor-Img-2nd {
        text-align: center;
        width: 100%;
        padding: 10px;
    }

    .contenedor-Texto-2nd {
        z-index: 3;
        width: 100%;
        padding: 5px;
    }

    .contAskAQuestion {
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .homeButton {
        margin-bottom: 10px
    }

    .image-mask-banner {
        width: 100vw;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 75%);
    }

    .comAsist {
        text-align: center;
        width: 80%;
        align-items: center;
        margin: 30px auto;
    }


    .contQS {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .footer {
        display: none;
    }

    .iconNews {
        margin: 15px auto;
        width: 60%;
    }

    .imageContainer {
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }

    .quienesSomos {
        display: block;
        height: auto;
    }

    .QS-L {
        width: auto;
        align-items: center;
    }

    .QS-R {
        text-align: justify;
    }

    .QS-redes {
        flex-direction: column;
    }
}